.carousel.carousel-slider {
}

.carousel {
    z-index: 1;
    position: absolute;
    margin-top: 0;
    top: 0px;
}

.slide-image-div {
    z-index: 2;
    position: relative;
    background-size: cover;
    height: 60em;
    background-position: center;
}

.slide-image {
    height: 65em;
}

button {
    background: transparent;
}

button:hover {
    background: transparent;
}


.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
    background-color: transparent;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
    background-color: transparent;
}