.carousel.carousel-slider {
    overflow: inherit;
}

.carousel {
    z-index: 0;
    position: absolute;
    margin-top: 0;
    top: 0px;
}

.slide-image {
}

button {
    background: transparent;
}

button:hover {
    background: transparent;
}


.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
    background-color: transparent;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
    background-color: transparent;
}